    @charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&     display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    
     :root {
        --fonte1: Verdana, Geneva, Tahoma, sans-serif;
        --fonte2: font-family: "Passion One", cursive;
        --fonte3: font-family: "Sriracha", cursive;
    }
    
    html,
    body {
        background-color: darkgray;
        min-width: 100vh;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    header {
        background-color: black;
        color: #fff;
        text-align: center;
    }
    
    header h1 {
        padding-top: 50px;
        font-variant: small-caps;
        font-family: "Passion One";
        font-size: 10vw;
    }
    
    header p {
        padding-bottom: 50px;
    }
    
    header a,
    footer a {
        color: white;
        text-decoration: none;
    }
    
    header a:hover,
    footer a:hover {
        text-decoration: underline;
    }
    
    section {
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-family: "Sriracha";
    }
    
    section.imagem p {
        display: inline-block;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.541);
        text-shadow: -1px -2px -2px rgb(0, 0, 0);
    }
    
    section p {
        padding-bottom: 3em;
    }
    
    section.normal {
        background-color: #fff;
        color: black;
    }
    
    section.imagem {
        background-color: rgb(51, 51, 51);
        color: white;
        box-shadow: inset 6px 6px 13px rgb(0, 0, 0);
        background-attachment: fixed;
    }
    
    section#img01 {
        background-image: url(imagens/background001.jpg);
        background-position: right center;
        background-size: cover;
    }
    
    section#img02 {
        background-image: url(imagens/background002.jpg);
        background-position: right center;
        background-size: cover;
    }
    
    footer {
        background-color: black;
        text-align: center;
        color: #fff;
        padding: 10px;
    }